@model IEnumerable<Mster.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Contact.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjectt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Massege)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subjectt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Massege)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cid })
        </td>
    </tr>
}

</table>
